/* _content/Practice_User_Login/Views/Account/Login.cshtml.rz.scp.css */

body[b-cshyu0gzxc] {
    background-color: #f0f0f0; 
}

.form-horizontal[b-cshyu0gzxc] {
    max-width: 600px; /* Restrict form width */
    margin: auto; /* Center align the form */
    padding: 20px; /* Add padding */
    background-color: white; /* White background for the form */
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light shadow */
}

.form-horizontal h4[b-cshyu0gzxc] {
    color: #333; /* Darker grey for heading */
}

.form-horizontal .control-label[b-cshyu0gzxc] {
    color: #555; /* Medium grey for labels */
}

.btn-default[b-cshyu0gzxc] {
    background-color: #007bff; /* Bootstrap blue */
    color: white; /* White text */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded button */
}

.btn-default:hover[b-cshyu0gzxc] {
    background-color: #0056b3; /* Darker blue on hover */
}
/* _content/Practice_User_Login/Views/Registration/Registration.cshtml.rz.scp.css */
.registration-form[b-g7h7ltzqtk]{
    /* display: flex;
    flex-direction: column; */
    background-color: rgb(70, 148, 215);
}

/* _content/Practice_User_Login/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-lqtmierpdl] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-lqtmierpdl] {
  color: #0077cc;
}

.btn-primary[b-lqtmierpdl] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-lqtmierpdl], .nav-pills .show > .nav-link[b-lqtmierpdl] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-lqtmierpdl] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-lqtmierpdl] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-lqtmierpdl] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-lqtmierpdl] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-lqtmierpdl] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
